.Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
}
.Logo{
    display: flex;
    align-items: center;
    color: white;
}
.Logo img{
    height: 40px;
}
.opts ul{
    display: flex;
    gap: 13px;
}
.opts ul li{
    list-style-type: none;
}
.opts ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.opts ul li a:hover{
    background-color: white;
    color: black;
}